<mat-card>
  <form (submit)="onCreateQuiz(createQuizForm)" #createQuizForm="ngForm" >
    <mat-form-field>
      <input matInput name="name" ngModel type="text" placeholder="Name" #nameInput="ngModel" required>
      <mat-error *ngIf="nameInput.invalid">Please enter a valid name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="surname" ngModel type="text" placeholder="Surname" #surnameInput="ngModel" required>
      <mat-error *ngIf="surnameInput.invalid">Please enter a valid surname.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="email" ngModel type="text" placeholder="Email" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Create Link</button>
  </form>
  <div *ngIf="link">Link generated. Your link is {{ link }}</div>
</mat-card>
