a {
  text-decoration: none;
  color: white;
}


.children {
  margin: 10px;
  cursor: pointer;
}

.spacer {
  flex: 1 0 auto;
}

mat-card {
  padding: 50px;
}

p {
  font-size: 24px;
  font-weight: 600;
}