<mat-accordion
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="5%"
  fxLayoutAlign="flex-start"
  multi="true" *ngIf="count > 0" #myDiv>
  <div
    fxFlex="0 1 calc(33% - 5%)"
    fxFlex.lt-md="0 1 calc(50% - 5%)"
    fxFlex.lt-sm="100%"
    *ngFor="let category of categories"
  >
    <mat-card class="children" [routerLink]="['/createQuiz', category.id]">
      {{ category.name }} 
      <span class="spacer"></span>
     <img src="{{ category.logo }}"  width="100px" height="100px" alt="">
    </mat-card>
  </div>
</mat-accordion>
<mat-paginator [length]="count" [pageSize]="12" [pageSizeOptions]="[12,18,30]" (page)="onChangedPage($event)"
               *ngIf="count> 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="count <= 0 && !isLoading">No categories added yet!</p>
