ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  justify-content: center;

}

.children {
  margin: 10px;
}

.spacer {
  flex: 1 0 auto;
}
