<mat-card *ngIf="checkLink">
  <mat-card-title *ngIf="intro">
    <p>Welcome to the {{ quizName }} Quiz</p>
    <p>The quiz is available only for 1 time, so don't close your browser</p>
  <form (submit)="onIntroQuiz(introQuizForm)" #introQuizForm="ngForm" >
    <button mat-raised-button color="accent" type="submit">Press Here to Start</button>
  </form>
</mat-card-title>
  <div *ngIf="startedPlaying">
    <div *ngFor="let question of questions; let i = index" >
      <mat-card *ngIf="load == i" class="secondCard">
          <p class="head" *ngIf="i == 0">{{ quizName }} Quiz</p>
          <form *ngIf="load == i" (submit)="onSubmitQuiz(submitQuizForm)" #submitQuizForm="ngForm" >

            <p class="question">{{ question.name }}</p>
            <mat-radio-group name="answer"  [(ngModel)]="answer" type="text" #answerInput="ngModel" *ngFor="let choice of question.choices">
                <mat-radio-button  [value]="choice">{{ choice }}</mat-radio-button>
            </mat-radio-group>
        
            <button mat-raised-button color="accent" (click)="findIndex(i)" type="submit">Next</button>
          </form>
      </mat-card></div>
  </div>

  <div *ngIf="showResults">
    <mat-grid-list cols="1" color="primary" rowHeight="3:1">
      <mat-grid-tile> Your Score is {{ score }}%</mat-grid-tile>
    </mat-grid-list>
  </div>
  
</mat-card>