mat-radio-group {
  display: flex;
  width: 100%;
}

.secondCard {
  width: 50%;
  margin: 0 auto;
}

.secondCard {
  background-color: #FFEB3B;
}

mat-radio-group {
  width: 100%;
  font-size: 16px;
  font-family: Arial,sans-serif;
  font-weight: 600;
}

.question {
  font-size: 18px;
  font-family: Arial,sans-serif;
  font-weight: 600;
}

.head {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #1d24e5;
}

.score {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #ffdd00;
}

.welcome {
  color: #ff0752;
}

.title {
  font-size: 1rem;
}

mat-grid-list {
  background-color: #283593;
  color:white;
  font-size: 4rem;
  width: 60%;
  margin: 0 auto;
  font-weight: 600;
}

mat-grid-tile {
  padding-bottom: 60px;
}